<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://sharedock-850d3-default-rtdb.asia-southeast1.firebasedatabase.app</string>
	<key>CLIENT_ID</key>
	<string>89535620394-hu550dvhc3btfs3pc921iut8o9uo8obt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89535620394-hu550dvhc3btfs3pc921iut8o9uo8obt</string>
	<key>API_KEY</key>
	<string>AIzaSyCh5ZvmVR5kprD2d52HAwfsWkTsonq6A4o</string>
	<key>GCM_SENDER_ID</key>
	<string>89535620394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shareDock.shareDock</string>
	<key>PROJECT_ID</key>
	<string>sharedock-850d3</string>
	<key>STORAGE_BUCKET</key>
	<string>sharedock-850d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:89535620394:ios:7017cd4e88ae97396caa53</string>
</dict>
</plist>
